<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
      <title>{{ title }} - HandyMia</title>
    {% else %}
      <title>Welcome to HandyMia</title>
    {% endif %}
</head>
<body class="loading">
  <div class="header">
    <a href="/"><img src="{{ url_for('static', filename='images/handymia.jpg') }}" alt="Handymia"
                     style="max-width: 75px; margin-bottom: -5px">
    </a>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
      <a href="/about">About us</a>
      <a href="/login">Login</a>
    </div>
  </div>
  <div class="topnav nav-pills" id="myTopnav">
    <a href="/" class="active">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Projects
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/#pergola">Pergolas</a>
          <a href="/#tv-mount">TV Mounting</a>
          <a href="/#light">Light Fixtures and Fans</a>
        </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Services
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#handyman">Handyman</a>
        <a href="#plumbing">Plumbing</a>
        <a href="#electric">Electric</a>
        <a href="#paint">Paint</a>
        <a href="#moving">Moving Help</a>
        <a href="#transport">Transport</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Remodeling
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#bathroom">Bathroom</a>
        <a href="#kitchen">Kitchen</a>
        <a href="#roofing">Roofing</a>
        <a href="#windows">Windows</a>
      </div>
    </div>
    <a href="#shop">Shop</a>
  </div>
  <hr>
  {% block content %} {% endblock %}
</body>
</html>