<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer role="contentinfo">
  <section id="footer">
    <div class="grid-container">
    <div class="grid-x align-center footer">
      <tr>
        <td colspan="3" valign="top">
          <p align="center">
            <img src="{{ url_for('static', filename='images/handymia.jpg') }}" alt="cell phone" width="350" height="250"/>
            <img src="{{ url_for('static', filename='images/handymia.jpg') }}" alt="email" width="366" height="250"/>
          </p>
          <p align="center" class="style12"> Call me at (786)502-6869 or Send me a Email at
            <a href="mailto:support@handymia.com" class="style13">support@handymia.com</a>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="3"><img src="images/foot-bar-pictures.png" width="982" height="100" /></td>
      </tr>
    </div>
    </div>
  </section>
  </footer>
</body>
</html>